@import '../../../../scss/_variables.scss';
.wrapper {
	display: flex;
	justify-content: space-between;

	> .count {
		font-size: 24px;
		text-align: center;
		.heading {
			text-transform: capitalize;
			color: $accent;
		}
		.number {
			font-weight: bold;
		}
	}
}
